# Copyright 2025 Canonical Ltd.
# See LICENSE file for licensing details.

#################################################################################################
#                         Juju Managed Falcosidekick config file                                #
#                                                                                               #
#  For more information about the configuration please refer to                                 #
#  https://github.com/falcosecurity/falcosidekick/tree/master?tab=readme-ov-file#configuration  #
#################################################################################################

listenport: {{ charm_state.falcosidekick_listenport }}
listenaddress: "" # ip address to bind falcosidekick to (default: "" meaning all addresses)

{% if charm_state.enable_tls -%}
tlsserver:
  deploy: true
  keyfile: "/etc/falcosidekick/certs/server/server.key"
  certfile: "/etc/falcosidekick/certs/server/server.crt"
  notlsport: 2810
  notlspaths:
    - "/ping"
    - "/healthz"
{%- endif %}

{% if charm_state.falcosidekick_loki_hostport -%}
loki:
  format: json
  extralabels: "juju_unit,juju_charm,juju_model,juju_model_uuid,juju_application"
  endpoint: "{{ charm_state.falcosidekick_loki_endpoint }}"
  hostport: "{{ charm_state.falcosidekick_loki_hostport }}"
{% endif %}
