name: Publish to edge

on:
  workflow_dispatch:
  push:
    branches:
      - main

jobs:
  publish-to-edge:
    uses: canonical/operator-workflows/.github/workflows/publish_charm.yaml@main
    secrets: inherit
    strategy:
      matrix:
        include:
          - charm: "falco"
            charnnel: "0.42/edge"
    with:
      channel: ${{ matrix.charnnel }}
      identifier: ${{ matrix.charm }}
      working-directory: './${{ matrix.charm }}-operator'
