# Copyright 2025 Canonical Ltd.
# See LICENSE file for licensing details.

name: Terraform files test

on:
  pull_request:
    paths:
      - "falco-operator/terraform/**"
      - "falcosidekick-operator/terraform/**"

permissions:
  contents: read

jobs:
  validate:
    name: Validate terraform configuration files
    runs-on: ubuntu-latest
    strategy:
      matrix:
        working_dir: [falco-operator, falcosidekick-k8s-operator]
    steps:
      - name: Check out code
        uses: actions/checkout@v6.0.2

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3.1.2

      - name: Run terraform fmt
        run: terraform fmt -check -recursive
        working-directory: ${{matrix.working_dir}}/terraform

      - name: Setup Tflint
        uses: terraform-linters/setup-tflint@v6.2.1
        with:
          tflint_wrapper: true

      - name: Run tflint
        run: |
          tflint --version
          tflint --init
          tflint -f compact --recursive
        working-directory: ${{matrix.working_dir}}/terraform
